apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: ers-backend
  labels:
    app: api
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
  - name: http
    port: 5062
    targetPort: 5062
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
