apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: ers-frontend
  labels:
    app: client
spec:
  type: LoadBalancer
  selector:
    app: client
  ports:
  - name: http
    port: 5173
    targetPort: 5173
    protocol: TCP
